/* Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400&display=swap');

/* Components */
@import "./header.css";
@import "./main.css";
@import "./footer.css";
@import "./buttons.css";

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url('../images/bolha-background.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size:
}

.container {
  width: 1024px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}